body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    text-align: center;
    margin-top: 40px;
}

h2 {
    margin-bottom: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 60%;
    font-size: 16px;
}

th,
td {
    border: 2px solid #000;
    padding: 10px 15px;
    text-align: center;
}

th {
    background-color: #a85b5b;
    color: white;
}

thead th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}